.link {
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    color: inherit;
}

.link::after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}

.link:hover::after {
    width: 100%;
}
